<!DOCTYPE html>
<html>
<head>
  <title>組字春聯製作器</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">組字春聯製作器</a>
    </div>
  </nav>
  <div class="container" id="container">
    <div class="row">
      <blockquote>
        使用說明：<a href="http://ids-testing.wmflabs.org/wiki/Main_Page" target="_blank">http://ids-testing.wmflabs.org/wiki/Main_Page</a>
      </blockquote>

      <!-- show result -->
      <p>檢視結果: </p>
      <div class="s12 center" style="margin-bottom: 2em;">
        <div class="red" style="display: inline-block; transform: rotate(45deg); padding: 5px;">
          <img :src="imgUrl" style="transform: rotate(-45deg); padding-right: 5px;">
        </div>
      </div>

      <!-- input string-->
      <div class="input-field col s12">
        <input type="text" class="validate" v-model="request_string">
      </div>

      <div class="input-field col s12" style="margin-bottom: 1em;">
        <button class="waves-effect waves-light btn btn-flat" v-for="ch in characters" v-on:click="addCh(ch)">{{ ch }}</button>
      </div>

      <!-- font selecter -->
      <div class="input-field col s6">
        <select name="font" v-model="font">
          <option>楷體</option>
        </select>
        <label>字體</label>
      </div>

      <!-- type selecter -->
      <div class="input-field col s6">
        <select name="type" v-model="types">
          <option>png</option>
        </select>
        <label>格式</label>
      </div>
    </div>

  </div>
  <main></main>

  <div id="info" class="modal bottom-sheet">
    <div class="modal-content">
      <h5>About</h5><br>
      <h6>字體授權：</h6>
      <blockquote>CNS11643 全字庫
        <li><a href="http://data.gov.tw/node/5961" target="_blank">中華民國國家發展委員會</a> 提供</li>
        <li>授權：<a href="http://data.gov.tw/license" target="_blank">政府資料開放授權條款 - 第 1 版</a>，相容「 創用 CC 授權 姓名標示 4.0 國際版本 」</li>
      </blockquote>
      <blockquote><a href="http://cdp.sinica.edu.tw/cdphanzi/declare.htm" target="_blank">「中央研究院漢字部件檢字系統」2.65 版釋出聲明</a></blockquote>
    </div>
  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <!-- FB -->
          <iframe src="https://www.facebook.com/plugins/share_button.php?href=http://elleyyu.github.io/spring_festival_couplets/&layout=button&size=large&mobile_iframe=true&width=64&height=28&appId" width="64" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          <!-- Twitter -->
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://elleyyu.github.io/spring_festival_couplets/" data-show-count="false" data-size="large">Tweet</a><script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2017 Copyright
        <div class="right">
          <a class="grey-text text-lighten-4" href="#info">About</a>　
          <a class="grey-text text-lighten-4" href="https://github.com/elleyyu">Contact me</a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>

<script type="text/javascript">
  var container = new Vue({
    el: '#container',
    data() {
      return {
        request_string: '⿴辶⿴宀⿱珤⿰隹⿰貝招',
        characters: ['⿰', '⿱', '⿲', '⿳', '⿴', '⿵', '⿶', '⿷', '⿸', '⿹', '⿺'],
        font: '楷體',
        types: 'png',
      };
    },

    computed: {
      imgUrl() {
        const q = this.request_string, font = this.font, type = this.types;
        return `http://tools.wmflabs.org/idsgen/${q}.${type}?字體=${font}`;
      },
    },

    methods: {
      addCh(ch) {
        this.request_string += ch;
      },
    },

    mounted() {
      $('select').material_select();

      $('.modal').modal({
        dismissible: true,
        opacity: .5,
        in_duration: 300,
        out_duration: 200,
        starting_top: '4%',
        ending_top: '10%',
      });
    },
  });
</script>

<style type="text/css">
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
</style>
